<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="prise-box">
                <img src="http://dslv9ilpbe7p1.cloudfront.net/ngrmtFioF5y8vz-K0mpqDQ_store_banner_image.jpeg" alt=''>
                <div class="info-this">
                    <div class="left-box">
                        <h2>Golden Beer</h2>
                        <button class='btn btn-danger' href="#">Buy Now</button>
                    </div>
                    <div class="right-box-up">
                        <div class="blue-box">
                            <span>Save upto</span>
                            <h2>50%<sup>*</sup></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="prise-box">
                <img src="http://dslv9ilpbe7p1.cloudfront.net/ngrmtFioF5y8vz-K0mpqDQ_store_banner_image.jpeg" alt=''>
                <div class="info-this">
                    <div class="left-box">
                        <h2>Ipa Argentinian Beer</h2>
                        <button class='btn btn-danger' href="#">Buy Now</button>
                    </div>
                    <div class="right-box-up">
                        <div class="blue-box">
                            <span>Save upto</span>
                            <h2>50%<sup>*</sup></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="prise-box">
                <img src="http://dslv9ilpbe7p1.cloudfront.net/ngrmtFioF5y8vz-K0mpqDQ_store_banner_image.jpeg" alt=''>
                <div class="info-this">
                    <div class="left-box">
                        <h2>Amber Beer</h2>
                        <button class='btn btn-danger' href="#">Buy Now</button>
                    </div>
                    <div class="right-box-up">
                        <div class="blue-box">
                            <span>Save upto</span>
                            <h2>50%<sup>*</sup></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="prise-box">
                <img src="http://dslv9ilpbe7p1.cloudfront.net/ngrmtFioF5y8vz-K0mpqDQ_store_banner_image.jpeg" alt=''>
                <div class="info-this">
                    <div class="left-box">
                        <h2>Honey Beer</h2>
                        <button class='btn btn-danger' href="#">Buy Now</button>
                    </div>
                    <div class="right-box-up">
                        <div class="blue-box">
                            <span>Save upto</span>
                            <h2>50%<sup>*</sup></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="prise-box">
                <img src="http://dslv9ilpbe7p1.cloudfront.net/ngrmtFioF5y8vz-K0mpqDQ_store_banner_image.jpeg" alt=''>
                <div class="info-this">
                    <div class="left-box">
                        <h2>Ipa Beer</h2>
                        <button class='btn btn-danger' href="#">Buy Now</button>
                    </div>
                    <div class="right-box-up">
                        <div class="blue-box">
                            <span>Save upto</span>
                            <h2>50%<sup>*</sup></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="prise-box">
                <img src="http://dslv9ilpbe7p1.cloudfront.net/ngrmtFioF5y8vz-K0mpqDQ_store_banner_image.jpeg" alt=''>
                <div class="info-this">
                    <div class="left-box">
                        <h2>Coffé Beer</h2>
                        <button class='btn btn-danger' href="#">Buy Now</button>
                    </div>
                    <div class="right-box-up">
                        <div class="blue-box">
                            <span>Save upto</span>
                            <h2>50%<sup>*</sup></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>